#fotoslider {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    transition-property: left;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(1,0,.62,.99);
}

.foto{
    width: 400px;
    height: 300px;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0px;
}

#viewport {
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    border: pink solid 2px;
    -webkit-box-shadow: 5px 5px 15px 2px #282828; 
    box-shadow: 5px 5px 15px 2px #282828;
    border-radius: 20px;
}

#design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: whitesmoke;
}

#controls {
    padding: 20px;
}

.knoppen {
    background-color: #282828;
    padding: 15px;
    color: lightpink;
    font-size: 14px;
    border: pink solid 2px;
    -webkit-box-shadow: 5px 5px 15px 2px #282828; 
    box-shadow: 5px 5px 15px 2px #282828;
    border-radius: 10px;
}